<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Users</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">

            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>phone</th>
            <th>Ecole</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let enseignent of enseignentsList">
            <th scope="row">{{enseignent.id}}</th>
            <td>{{enseignent.name}}</td>
            <td>{{enseignent.lastName}}</td>
            <td>{{enseignent.phone}}</td>
            <td>{{enseignent.ecole.name}}</td>
            <td>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>